.content {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.box {
  width: 86vw;
  font-size: 2rem;
  text-align: center;
}
.box-content {
  border: 2px solid rgb(22, 22, 22);
  font-family: 楷体;
}
.manual {
  margin-left: 2vw;
}
.top {
  display: flex;
}
.top div {
  flex: 1;
  padding: 10px 0;
  border: 2px solid rgb(22, 22, 22);
  border-top: none;
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top div:nth-child(2) {
  border-right: none;
  flex: 2;
}
.time-clock {
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 1.5rem;
  border-bottom: 2px solid rgb(22, 22, 22);
  padding: 10px 0;
}
.nongli,
.taiyang,
.jwdu {
  font-size: 1.3rem;
  padding: 10px 0;
  border-bottom: 2px solid rgb(22, 22, 22);
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom {
  display: flex;
  font-size: 1rem;
}
.bottom .username {
  flex: 2;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}
.bottom .z {
  flex: 1;
}
.miaozhu-z {
  border-right: 2px solid rgb(22, 22, 22);
}
.bottom .z-title,
.z-value {
  display: flex;
  align-items: center;
  justify-content: center;
}
.z-title {
  font-size: 1.1rem;
  border-left: 2px solid rgb(22, 22, 22);
  border-bottom: 2px solid rgb(22, 22, 22);
  min-height: 30px;
}
.z-value {
  font-size: 1.5rem;
  border-left: 2px solid rgb(22, 22, 22);
  /* writing-mode: vertical-rl; */
  height: 70px;
  padding-left: 0.4vw;
}
/* .z-value div {
  border-bottom: 2px solid rgb(22, 22, 22);
} */

.modal-info-edit {
  width: 40vw;
  padding: 20px 40px 80px 20px;
  max-height: 80vh;
  display: none;
}

.modal-info-edit.manual {
  width: 700px;
}

.edit-btns {
  padding: 20px 0;
}

.edit-btn {
  margin-bottom: 20px;
}
.edit-btn.vip {
  background: linear-gradient(to right, #f1b072, #fee5c8);
  color: #1b1008;
  align-items: center;
  border: none;
  padding-left: 15px;
  padding-right: 10px;
}
.vip img {
  width: 22px;
  margin-left: 5px;
}

.zhousui,
.huanyun,
.shishen,
.yunchen {
  display: flex;
  font-size: 20px;
}
.zs-i {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid rgb(22, 22, 22);
  border-top: 2px solid rgb(22, 22, 22);
  padding: 5px 0;
}
.zs-i.title {
  font-weight: bold;
}

.zs-i:first-child {
  border-left: none;
}

.pan-his-table-box {
  padding: 2vw;
}
.nong-gong-preview {
  font-size: 15px;
  font-weight: bold;
  /* margin-top: 130px; */
}

.nong-gong-preview div {
  margin-top: 10px;
}

/* map */
.google-map-wrap {
  height: 800px;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  display: none;
}
#googleMap {
  height: 100%;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  margin-top: 15px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  height: 30px;
}

.ziwei-charts {
  position: relative;
}

.ziwei-chart,
.wuxing-charts {
  /* float: left; */
  margin-bottom: 50px;
}

.ziwei-title {
  text-align: center;
  font-size: 25px;
}

.ziwei-table {
  padding: 0 20px;
}
.zw-t-row {
  display: flex;
  width: 100%;
}

.zw-t-col {
  flex: 1;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

.chart-tips {
  color: rgb(29, 28, 28);
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.error-input:hover {
  border-color: red !important;
}

.error-input {
  border-color: red !important;
}
.birthday-tips {
  margin: 5px;
  color: rgb(139, 141, 143);
}

.config-btn {
  display: flex;
  justify-content: flex-end;
  padding: 0 100px;
}

.wuxing-config {
  padding: 20px 50px;
  width: 700px;
}

.wuxing-config-sub {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

.wuxing-config .layui-form-label {
  width: 100px;
}

.wuxing-config .layui-input-inline {
  width: 70px;
}

.input-endfix {
  display: inline-block;
  padding: 9px 0px;
}
.sub-config {
  display: flex;
  justify-content: space-between;
}
.si-zhu-config .layui-form-label {
  width: 140px;
}

.gan-zhi-config-title {
  font-weight: bold;
  margin: 10px;
  text-align: center;
}
.di-zhi-config {
  margin-left: 20px;
}

.header {
  display: flex;
  margin: 20px;
  justify-content: space-between;
}
.header .user-info-api-img img {
  width: 22px;
}
.menus {
  font-size: 25px;
}

.user-info a {
  color: #009688;
}

/* 刑冲 */

.modal-xing-chong {
  width: 90vw;
  padding: 10px 5px;
}
.ss-ganzhi-list,
.xc-ganzhi-list {
  background-color: rgba(239, 248, 228, 0.514);
  padding: 10px 0;
  margin: 10px 0;
}
.ganzhi-titles,
.gans,
.zi-0-s,
.zi-1-s,
.xc-0,
.xc-1,
.shen-1-s,
.shen-0-s {
  display: flex;
  text-align: center;
  font-size: 20px;
  font-family: 楷体;
  margin-top: 10px;
}

.shen-1-s div,
.shen-0-s div {
  font-size: 15px !important;
  font-weight: normal !important;
}

.xc-0-s,
.xc-1-s {
  max-height: 34vh;
  overflow-y: scroll;
}

.ganzhi-title,
.xc-0-d,
.xc-1-d {
  flex: 1;
}

.zi-0-s div,
.zi-1-s div,
.shen-1-s div,
.shen-0-s div {
  flex: 1;
  font-weight: bold;
  font-size: 22px;
}

.ganzhi-title {
  color: rgb(112, 108, 108);
}

.xc-0-d,
.xc-1-d {
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  position: relative;
}
.xc-zi {
  border: 1px solid #0c5e04;
  padding: 5px;
  border-radius: 20px;
  color: #ffffff;
  background-color: #0c5e04;
}

.xc-0-d.show::after,
.xc-1-d.show::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  height: 1px;
  border-top: 1px solid #0c5e04;
  content: '';
}

.xc-0-d.show.dashed::after,
.xc-1-d.show.dashed::after {
  border-top: 1px dashed #0c5e04;
}

.hua .xc-zi {
  border-color: #33b90a;
  background-color: #33b90a;
}

.xc-0-d.show.hua::after,
.xc-1-d.show.hua::after {
  border-color: #33b90a;
}

.xc-0-d.show.dashed.hua::after,
.xc-1-d.show.dashed.hua::after {
  border-color: #33b90a;
}

.xc-tips {
  position: absolute;
  left: 50%;
  top: -10px;
  font-size: 17px;
  line-height: 20px;
  width: 100%;
  z-index: 9;
}

/* 木 */
.wuxing-0 {
  color: #009688;
}
/* 火 */
.wuxing-1 {
  color: #ff0000;
}
/* 土 */
.wuxing-2 {
  color: #241802;
}
/* 金 */
.wuxing-3 {
  color: #ff9100;
}
/* 水 */
.wuxing-4 {
  color: #0093ce;
}
/* 神煞 */

.modal-shen-sha {
  width: 90vw;
  padding: 10px 5px;
}
.shen-sha-list {
  display: flex;
}
.shen-shas {
  flex: 1;
}
.shen-sha {
  background-color: rgba(212, 209, 209, 0.479);
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  width: 80%;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
  font-family: 楷体;
  margin: 10px auto;
  font-size: 18px;
}

.red {
  color: red;
}

.real-sun-time {
  font-size: 1.1rem;
  font-weight: bold;
  align-items: center;
}

.real-sun-time span {
  font-weight: normal;
}
.modal-real-sum-time-config {
  width: 60vw;
}
